<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Ideally, this would contain the information to reach the
  store manager and other support staff.
</p>
<p>
  Since there is no former staff, feel free to contact me
  at info@emmanuelmarcha.com or create an
  <a href="https://github.com/Amadeus98/scuba_shop_app/issues" target="_blank">issue</a>.
</p>
