<tr>
  <td style="text-align: center">
    <%= booking.id %>
  </td>
  <td></td>
  <td style="text-align: center">
    <%= booking.num_seats %>
  </td>
  <td></td>
  <td>
    <%= time_ago_in_words(booking.created_at) %>
  </td>
</tr>
