<tr>
    <td>
      <%= link_to tour.title %>
    </td>
    <td>
      <%= tour.tour_date %>
    </td>
    <td>
      <%= tour.total_seats %>
    </td>
    <td>
      <%= tour.available_seats %>
    </td>
</tr>