<% provide(:title, 'Tour Listing') %>
<h1>Tour Listing</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Total Seats</th>
      <th>Available Seats</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tours %>
  </tbody>
</table>

<%= will_paginate %>